.vertical-dashed-lines {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' y1='0' x2='0' y2='100%25' stroke='%23E2E2E2' stroke-width='2' stroke-dasharray='6,14' stroke-linecap='square' /%3e%3cline x1='100%25' y1='0' x2='100%25' y2='100%25' stroke='%23E2E2E2' stroke-width='2' stroke-dasharray='6,14' stroke-linecap='square' /%3e%3c/svg%3e");
}

.horizontal-dashed-line {
    width: 100%;
    height: 1px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0' y1='0.5' x2='100%25' y2='0.5' stroke='%23E2E2E2' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

.cross-icon {
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='16' y1='0' x2='16' y2='32' stroke='%23727272'/%3e%3cline y1='16' x2='32' y2='16' stroke='%23727272'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}
